@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';

.header-tags {
    list-style-type: none;
    @include flex(row, space-between, center);
    column-gap: 6px;
}

.tag {
    padding: 2px 14px 3px;
    @include border-radius(10px);
    @include font(normal, 200, 1.6rem, $color-light);
    @include flex(row, center, center);
    @extend %pointer;
}
  
.shopping-tag {
    background-color: $color-shopping-tag;
    @include border(1px solid $color-shopping-tag);
}
  
.businnes-tag {
    background-color: $color-business-tag;
    @include border(1px solid $color-business-tag);
}
  
.other-tag {
    background-color: $color-other-tag;
    @include border(1px solid $color-other-tag);
}

.popup-tag {
    @include border(1px solid $color-icons);
    background-color: $color-light;
    @include font(normal, 200, 1.6rem, $color-text);
}

.selected {
    color: $color-light;
    @include border(1px solid $color-icons);
    background-color: $color-icons;
}