@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';

.sidebar-navigation {
    height: 100%;
    width: 200px;
    background-color: $color-navigation;
    @include flex(column, center, center);
    row-gap: 20px;
    @extend %shadow;
}
  
.navigation {
    @extend %width100;
    list-style-type: none;
    @include flex(column, space-between, flex-start);
}
  
.navigation-link {
    @extend %width100;
    height: 40px;
    @include flex(row, flex-start, center);
    column-gap: 8px;
    @include font(normal, 200, 1.6rem, $color-additional);
    @extend %pointer;
    background-color: $color-light;
    &.active .active-link {
      height: 100%;
      width: 10px;
      background-color: $color-icons;
      visibility: visible;
    };
    &.active .link-icon {
      color: $color-icons;
    }
}
  
.active-link {
    height: 100%;
    width: 10px;
    background-color: $color-icons;
    visibility: hidden;
}

@media (max-width: 1024px) {
  .sidebar-navigation {
      width: 600px;
      padding: 0 20px;
  }

  .navigation {
    @extend %width100;
    list-style-type: none;
    @include flex(row, space-between, flex-start);
  }
}

@media (max-width: 640px) {
  .sidebar-navigation {
    width: 300px;
    padding: 0 10px;
  }

  .navigation-link {
    font-size: 1.2rem;
    column-gap: 4px;
  }
}