$color-primary:#EBF1F2;
$color-secondary:#F4F4F2;
$color-icons:#59CCD9;
$color-navigation: #F7F7F7;

$color-light:#FFFFFF;
$color-business-tag:#F280BF;
$color-shopping-tag:#AA89D9;
$color-other-tag:#D9805F;
$color-text: #404040;
$color-additional:#8C8C8C;

$note-height: 120px;