@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';

.search {
    @include flex(row, space-between, center);
    column-gap: 8px;
    background-color: $color-light;
    @include border-radius(10px);
    padding: 6px;
    margin-top: 20px;
    width: 150px;
}
  
.search input {
    width: 100px;
    border: none;
    background-color: $color-light;
    @include font(normal, 200, 1.4rem, $color-additional);
}
  
.search input:focus {
    outline: none;
}

@media (max-width: 1024px) {
    .search {
        width: 100%;
    }
}